---
import Layout from "../layouts/Layout.astro";
import Toggle from "../components/Toggle.astro";
---

<Layout title="Que aprendo">
	<main>
		<article>
			<h2>Java</h2>
			<Toggle />
		</article>
		<article>
			<h2>C#</h2>
			<Toggle />
		</article>
		<article>
			<h2>Ingles</h2>
			<Toggle />
		</article>
	</main>
</Layout>

<style>
	main {
		display: flex;
		gap: 2rem;
		justify-content: center;
	}
	h2 {
		text-align: center;
	}
</style>
